@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root[color-theme='light'] {
    --main: #D5E05B;
    --grey: #A7A9AC;
}

:root[color-theme='dark'] {
    --main: #80B463;
    --grey: #A7A9AC;
}

button {
    width: 80%;
    height: 35vh;
    border-radius: 20px;
    background-color: var(--main);
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    display: none;
}
button.active {
    display: block;
}
button:hover {
    transition: 0.2s;
    transform: translateY(-2px);
    box-shadow: 0 3px 3px var(--grey);
    cursor: pointer;
}
button#notHomepageBtn, button#notContentBtn {
    background-color: var(--grey);
    color: white;
}
button#notHomepageBtn:hover, button#notContentBtn:hover {
    transition: 0;
    transform: translateY(0);
    box-shadow: none;
}